
<app-title></app-title>
Filtrer la liste : <input #listeFilter (keyup)="0"><!--  13.2.1 add input pour saisie d'une chaine de recherche avec ref et keyup -->

<itemform-component (onCreateObject)="createObject($event)"></itemform-component><!-- affiche le composant formulaire -->

<!--2.2.1 utiliser directive *ngFor pour afficher la collection dans une boucle-->
<div *ngFor="let item of collection | itemFilter:listeFilter.value"><!-- 13.2.2 utilisation du pipe dans la boucle ngFor sur la collection  -->
  <!-- 11.2.1 dans le selector <item-component> on utilise l'EventEmitter pour appeler la fonction getDetails qui se trouve sur ce composant. -->  
  <item-component [item] ="item" (onGetDetails)="getDetails($event)"></item-component><!-- pour afficher le composant 
  qu'on a créé (fichier item.component.html) 
  onGetDetails: remplace l'evenement click -> va declencher getDetails
  -->
</div>
