<div class="panel" role="search">
  <div class="form-group">
    <br/>
    <input #listeFilter (keyup)="0" class="form-control" placeholder="Search">
  </div>

</div>
<div *ngFor="let item of collection | itemFilter:listeFilter.value">
  <div class="panel panel-default animated" *ngIf="item.animateState !== 'removedFromDom'" [ngClass]="{'rubberBand': item.AnimateState !== 'removedFromDom', 
   'fadeOut': item.AnimateState==='removed'}">
    <div class="panel-heading">
      <span>Référence: {{item.reference}}</span>

      <appState class="pull-right" [state]="item.state"></appState>

    </div>
    <div class="panel-body">
      <p>Nom: <span highlight> {{item.name }}</span></p>
      <div *ngIf="2 != item.state">
        Changer le statut :

        <button (click)="changeState(item,1)" *ngIf="1 != item.state" class="btn btn-primary">En cours de livraison</button>
        <button (click)="changeState(item,2)" class="btn btn-primary">Livrée</button>

      </div>

      <button *ngIf="2 === item.state" (click)="deleteItem(item)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

    </div>
  </div>
</div>